html,body{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;}

ol,ul{
  list-style:none;
  margin:0;
  padding:0;}

a{
  text-decoration:none;
}
  
.clear{
  clear:both;
}

img{max-width:100%;}

body{
	font-family: "Century Gothic",Arial, Helvetica, sans-serif;
	background:#f6f6f6;
}

.wrap{
	width:80%;
	margin:0 auto;
}

.header{
	background:#f6f6f6;
}

.logo {
	float:left;
	padding-top: 4px;
  margin-left: -70px;
}

/*-navbar-*/
.navbar{
	float:right;
	padding-top: 6px;
}

.navbar ul li {
	display: inline-block;
}

.navbar ul li a {
	color: #000;
	display: block;
	padding: 40px 15px;
	letter-spacing: 1px;
	font-size: 1.3em;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	margin: 13px 10px;
}

.navbar li.active> a, .navbar li> a:hover {
	color:#000;
	background:#ff8100;
}

/*content*/
.main{
	background:#f6f6f6;
}
.content-top{
	padding:5% 0;
}
.content-top h3{
	text-align:center;
	font-size:2.5em;
	color:#424147;
	font-weight:600;
	font-family: "Century Gothic";
	text-transform: uppercase;
	margin-bottom: 15px;
}
.content-top h5{
	text-align:center;
	font-size:1.5em;
	color: #424147;
	font-weight:600;
	font-family: "Century Gothic";
	margin-top: 0px;
	margin-bottom:60px;
}
.col-1{
	display: block;
	float:left;
	margin:0% 0 0% 2%;
	background: #ffea00;
	cursor:pointer;
}

.span-1 {
	width: 23%;
}

.desc{
	background:#414146;
	padding: 20px;
}

.shrink img{
	padding: 0px 0;
	transition: 1s ease;
}
	.shrink img:hover{
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	transition: 1s ease;
	}
.shrink p {
	font-size: 1em;
	text-align: center;
}

.desc p{
	color: #FFF;
	font-size: 0.95em;
	line-height: 1.25em;
	text-align: center;
}
